-e git+https://github.com/rtfd/sphinx_rtd_theme.git#egg=sphinx_rtd_theme
-e git+https://github.com/rst2pdf/rst2pdf.git#egg=rst2pdf
-e git+https://github.com/Robpol86/sphinxcontrib-disqus.git#egg=sphinxcontrib-disqus